*{
    padding: 0em; margin: 0em;
}

#main_image {
    display: block;
    width: 100%;   
}

h1 {
    color: white; 
    background-color: rgb(10, 80, 180);
}

body {
    color:black; 
    background-color: rgb(223, 222, 221); 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 1rem; 
} 

li {
    text-align: center; 
    border: 0.1em solid black;
    background-color: rgba(243, 253, 152, 0.986); 
    margin:0.5em;
    display: inline-block; 
    width: 15em;
}

/*properties of links*/
a:link { 
    color: blue;
}

a:visited { 
    color: rgb(0, 0, 0);
} 

a:hover { 
    color:rgba(255, 0, 0, 0.541);
} 

.header_table {
    display: inline-block; 
    height: 1rem;
    background: #FFD34E;
    width: 100%;
}  
.label_table_span{
    margin-left: 4rem;
}
.label_table {
    display: inline-block;
    margin-left: 1.5rem;
    
}

.order_box_order {
    border-radius: 2%;
    background-color: rgba(255, 81, 0, 0.815);
    width: 10rem;
    margin: 0.5rem;
    display: inline-block;
}

.order_box_customer {
    border: 0.1em solid black;
    background-color: rgba(243, 253, 152, 0.986);
    text-align: center;
    margin: 0.5rem;
}

.order_box_driver {
    border: 0.1em solid black;
    background-color: rgba(243, 253, 152, 0.986);
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.order_box_baker {
    border: 0.1em solid black;
    background-color: rgba(243, 253, 152, 0.986);
    text-align: center;
    margin: 0.5rem;  
}

.pizza_image {
    width: 7rem;
    height: 7rem;
    display: block;
    margin: auto;
}

.pizza_label{
    text-align: center;
}

.cart {
    display: inline-block;
    background-color: rgba(243, 253, 152, 0.986);
    width: 20rem;
    margin: 0.5rem;
    padding: 1%;
    vertical-align: top;
}

#orders {
    width: 100%;
}

#address{
    width: 100%;
}

.pizza_name {
    display: inline-block; 
    margin: 0.5em; 
    min-width: 7em; 
    max-width: 12em; 
    text-align:left;
    width: 8rem;
}

.pizza_status {
    display: inline-block; 
    /*margin-right: 6rem;*/
    text-align: center;
    
}

.status_button {
    margin-right: 4rem;
}

footer{
    color: white; 
    background-color: grey; 
    text-align: center;
}

/*Media Query*/
@media only screen and (max-width: 600px) {
    body { 
        font-size: 0.5rem; 
    }
    .order_box_order {
        width: 97%;
    }
    .cart {
        width: 95%;
    }
    .order_box_baker{
        width: 97%;
    }
    .status_button{
        margin-right: 2rem;
    }
    .pizza_name{
        width: 4rem;
    }
    .label_table{
        margin-left: 1rem;
    }
    .label_table_span{
        margin-left: 2rem;
        
    }
}

@media only screen and (max-width: 350px) {
    body { 
        font-size: 0.5rem; 
    }
    .order_box_order {
        width: 97%;
    }
    .cart {
        width: 95%;
    }
    .order_box_baker{
        width: 97%;
    }
    .status_button{
        margin-right: 1.5rem;
    }
    .pizza_name{
        width: 1rem;
    }
    .label_table{
        margin-left: 0.4rem;
    }
    .label_table_span{
        margin-left: 2.5rem;
    }
}